<div class="header bg-primary flex items-center h-[44px] px-[6px] py-[4px]">
    <div class="header-logo h-[31px] flex items-center">
        <a routerLink="/">
            <img src="../../../assets/images/d947df93bc055849898e.gif" alt="" class="h-100 w-[75px] min-w-[75px]" />
        </a>
    </div>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu1"
    >
        Các không gian làm việc
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu1="nzDropdownMenu">
        <div class="p-[12px] rounded-[3px] shadow-md" nz-menu>
            <h1 class="font-semibold text-[12px] text-subTitle">Các không gian làm việc của bạn</h1>
            <div class="flex flex-wrap w-[304px]">
                <div *ngIf="workspaces.length === 0" class="w-full text-subTitle">Chưa có không gian làm việc nào</div>
                <div *ngIf="workspaces.length > 0">
                    <div class="w-full flex items-center mt-[12px] cursor-pointer" *ngFor="let wpItem of workspaces">
                        <img class="w-[40px] h-[40px] rounded-[3px] shadow-sm" src="{{ wpItem.image }}" alt="" />
                        <p class="truncate w-full ml-[8px] font-semibold hover:text-primary">
                            {{ wpItem.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nz-dropdown-menu>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu3"
    >
        Đã đánh dấu sao
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu3="nzDropdownMenu">
        <div class="p-[12px] rounded-[3px] shadow-md" nz-menu>
            <h1 *ngIf="tickWorkspace.length > 0" class="font-semibold text-[12px] text-subTitle mb-[12px]">
                Không gian làm việc đã đánh dấu sao
            </h1>
            <div class="flex flex-wrap">
                <div *ngIf="tickWorkspace.length === 0" class="w-full text-subTitle">
                    <img class="w-[270px] h-[130px]" src="../../../assets/images/notTick.svg" alt="" />
                    <p class="w-[270px] text-subTitle text-center mt-3">
                        Gắn dấu sao các bảng quan trọng để truy cập nhanh và dễ dàng.
                    </p>
                </div>
                <div *ngIf="tickWorkspace.length > 0">
                    <div
                        *ngFor="let tick of tickWorkspace"
                        class="w-[304px] flex items-center mt-[12px] cursor-pointer"
                    >
                        <img class="w-[40px] h-[40px] rounded-[3px] shadow-sm" src="{{ tick.image }}" alt="" />
                        <p class="truncate w-full ml-[8px] font-semibold hover:text-primary">
                            {{ tick.name }}
                        </p>

                        <span nz-icon class="ml-[5px] [&>svg]:fill-[#ffc526]" nzType="star" nzTheme="fill"></span>
                    </div>
                </div>
            </div>
        </div>
    </nz-dropdown-menu>

    <button
        class="bg-buttonHover mr-auto ml-2 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        (click)="showModal()"
        nz-button
    >
        Tạo mới
    </button>

    <nz-modal
        [nzCentered]="true"
        [(nzVisible)]="isVisible"
        nzWidth="1200px"
        [nzFooter]="null"
        (nzOnCancel)="handleCancel()"
    >
        <ng-container *nzModalContent>
            <div class="w-full flex h-[686px]">
                <div class="w-6/12 px-[24px] mt-[64px] mb-[16px] flex justify-center">
                    <form class="w-[388px]" [formGroup]="createWorkspace" (ngSubmit)="onSubmit()">
                        <h1 class="text-[24px] font-semibold mb-[12px]">Hãy xây dựng một Không gian làm việc</h1>
                        <p class="text-[18px] text-subTitle">
                            Tăng năng suất của bạn bằng cách giúp mọi người dễ dàng truy cập bảng ở một vị trí.
                        </p>

                        <div class="input-group mt-[12px] flex flex-col">
                            <label class="font-bold text-[12px] mb-1">Tên không gian làm việc</label>
                            <input
                                class="w-full hover:bg-inputHover focus:bg-white rounded-[3px] outline-0 block h-[48px] py-[8px] px-[12px] shadow-input mb-[6px] focus:shadow-inputFocus"
                                type="text"
                                placeholder="Công ty của Taco"
                                formControlName="name"
                            />
                            <p class="description text-[12px] text-[#6B778C]">
                                Đây là tên công ty hoặc tổ chức của bạn
                            </p>
                        </div>

                        <div class="input-group mt-[12px] flex flex-col">
                            <label class="font-bold text-[12px] mb-1">Loại không gian làm việc</label>

                            <nz-select
                                nzPlaceHolder="Chọn ..."
                                nzAllowClear
                                formControlName="category"
                                class="[&>.ant-select-selector]:hover:bg-inputHover"
                            >
                                <nz-option *ngFor="let o of category" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </nz-select>
                        </div>

                        <div class="input-group mt-[12px] flex flex-col">
                            <label class="font-bold text-[12px] mb-1">Mô tả Không gian làm việc</label>
                            <textarea
                                class="w-full hover:bg-inputHover rounded-[3px] outline-0 focus:bg-white block h-[120px] py-[8px] px-[12px] shadow-input mb-[6px] focus:shadow-inputFocus"
                                cols="30"
                                rows="10"
                                placeholder="Nhóm của chúng tôi tổ chức mọi thứ ở đây"
                                formControlName="description"
                            ></textarea>
                            <p class="description text-[12px] text-[#6B778C]">
                                Đưa các thành viên của bạn vào bảng với mô tả ngắn về Không gian làm việc của bạn.
                            </p>
                        </div>

                        <button
                            class="w-full h-[48px] rounded-[3px] bg-primary text-white shadow-md mt-[12px] disabled:bg-disabled disabled:text-[#a5adba] disabled:shadow-none"
                            [disabled]="!createWorkspace.valid || status === 0"
                        >
                            Tiếp tục
                        </button>
                    </form>
                </div>
                <div class="modal-createWp-right w-6/12 flex justify-center">
                    <img
                        class="w-[342px] h-[356px] relative top-[44px]"
                        src="../../../assets/images/createWp.svg"
                        alt=""
                    />
                </div>
            </div>
        </ng-container>
    </nz-modal>

    <div
        nz-dropdown
        [nzDropdownMenu]="search"
        nzTrigger="click"
        [nzDisabled]="searchResult.length === 0"
        class="w-[200px] pl-3 flex items-center focus-within:w-full focus-within:mx-1.5 focus-within:bg-white focus-within:hover:bg-white focus-within:text-[#333] rounded-[5px] bg-[#3588b9] text-white [&>input]:bg-[#3588b9] [&>input]:bg-none hover:bg-[#67a6ca] [&>input]:text-inherit border-none"
        style="transition: width linear 0.3s, margin linear 0.3s"
    >
        <span class="mr-2 relative top-[0.5px]" nz-icon nzType="search"></span>

        <input
            type="text"
            class="placeholder:text-white h-[32px] border-none focus:placeholder:text-[#333] outline-0"
            placeholder="Tìm kiếm"
            style="transition: width linear 0.3s, margin linear 0.3s"
            [(ngModel)]="searchVl"
            (change)="handleSearch()"
        />
    </div>

    <nz-dropdown-menu #search="nzDropdownMenu">
        <h1 class="font-semibold text-subTitle mx-3 mt-4">Kết quả</h1>
        <div class="p-[12px] rounded-[3px] shadow-md flex flex-col" nz-menu>
            <div class="searchResult-item flex items-center mb-2" *ngFor="let item of searchResult">
                <img src="{{ item.image }}" class="w-[40px] h-[40px] mr-2 shadow-md" alt="" />
                <div class="">
                    <h2 class="truncate text-[15px] font-semibold">{{ item.name }}</h2>
                    <p class="truncate text-subTitle">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </nz-dropdown-menu>

    <span
        nz-icon
        nzType="bell"
        class="mx-3 rotate-[40deg]"
        nzTheme="outline"
        style="font-size: 20px; color: #fff"
    ></span>

    <div
        nz-dropdown
        [nzDropdownMenu]="avatar"
        nzTrigger="click"
        class="avatar-header mr-3 min-w-[25px] w-[25px] h-[25px]"
    >
        <img [src]="userLogin[0]?.avatar" alt="" class="w-full h-full rounded-[50%] shadow-lg cursor-pointer" />
    </div>

    <nz-dropdown-menu #avatar="nzDropdownMenu">
        <div class="flex w-[224px] flex-col py-2 [&>.item]:py-2 [&>.item]:px-5" nz-menu>
            <h1 class="font-semibold text-subTitle px-5 text-[16px]">Tài khoản</h1>
            <div class="item flex items-center">
                <img class="w-[40px] h-[40px] rounded-[50%] mr-2" [src]="userLogin[0]?.avatar" alt="" />
                <div>
                    <h2 class="truncate font-semibold text-[15px]">{{ userLogin[0]?.userName }}</h2>
                    <p class="w-[150px] truncate text-subTitle">{{ userLogin[0]?.email }}</p>
                </div>
            </div>
            <div class="item hover:text-primary cursor-pointer">Quản lý tài khoản</div>
            <div class="item text-red cursor-pointer" (click)="handleLogout()">Đăng xuất</div>
            <div class="h-[1px] w-full shadow-input bg-primary mb-2 mt-0.5"></div>
            <h1 class="font-semibold text-subTitle px-5 text-[16px]">Trello</h1>
            <div class="item hover:text-primary cursor-pointer">Hồ sơ và hiển thị</div>
            <div class="item hover:text-primary cursor-pointer">Cài Đặt</div>
        </div>
    </nz-dropdown-menu>
</div>
