<div class="header bg-primary flex items-center h-[44px] px-[6px] py-[4px]">
    <div class="header-logo h-[31px] flex items-center">
        <img src="../../../assets/images/d947df93bc055849898e.gif" alt="" class="h-100 w-[75px]" />
    </div>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu1"
    >
        Các không gian làm việc
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu1="nzDropdownMenu">
        <div class="p-[12px] rounded-[3px] shadow-md" nz-menu>
            <h1 class="font-semibold text-[12px] text-subTitle mb-[12px]">Các không gian làm việc của bạn</h1>
            <div class="flex flex-wrap w-[304px]">
                <div class="w-full">Chưa có không gian làm việc nào</div>
                <div class="w-full"></div>
                <div class="w-full">1</div>
            </div>
        </div>
    </nz-dropdown-menu>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu2"
    >
        Gần đây
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>menu1 1st menu item</li>
            <li nz-menu-item>menu1 2nd menu item</li>
            <li nz-menu-item>menu1 3rd menu item</li>
        </ul>
    </nz-dropdown-menu>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu3"
    >
        Đã đánh dấu sao
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu3="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>menu1 1st menu item</li>
            <li nz-menu-item>menu1 2nd menu item</li>
            <li nz-menu-item>menu1 3rd menu item</li>
        </ul>
    </nz-dropdown-menu>

    <button
        class="bg-none ml-1.5 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu4"
    >
        Mẫu
        <span nz-icon nzType="down"></span>
    </button>

    <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item>menu1 1st menu item</li>
            <li nz-menu-item>menu1 2nd menu item</li>
            <li nz-menu-item>menu1 3rd menu item</li>
        </ul>
    </nz-dropdown-menu>

    <button
        class="bg-buttonHover ml-2 flex items-center border-0 text-[14px] text-white hover:bg-buttonHover focus:text-white focus:bg-[#3588b9] hover:text-white px-[12px] py-[6px]"
        nzType="link"
        nz-button
    >
        Tạo mới
    </button>
</div>
