<div class="workspacePage h-full flex items-center relative">
    <div class="absolute h-[1px] z-10 w-full shadow-container bg-primary top-0 left-0"></div>
    <div class="workspacePage-left h-full bg-primary" [class.active]="widthAside">
        <div class="flex items-center px-[14px] py-3">
            <div
                class="img min-w-[36px] mr-2 w-[36px] h-[36px] rounded-[3px] shadow-sm bg-[#006e49] text-[20px] flex items-center justify-center text-white font-bold text-center"
            >
                {{ dataWorkspace?.name?.charAt(0) }}
            </div>
            <div class="">
                <p class="font-semibold text-white truncate w-[150px]">{{ dataWorkspace?.name }}</p>
                <p class="text-[12px] text-white">Miến phí</p>
            </div>
            <button
                (click)="actionAside(false)"
                class="p-0.5 ml-auto w-[28px] h-[28px] cursor-pointer hover:bg-[#3588b9] bg-primary flex items-center justify-center rounded-[3px]"
            >
                <span nz-icon nzType="left" class="text-white" nzTheme="outline"></span>
            </button>
        </div>
        <div class="h-[1px] w-full shadow-container bg-primary"></div>
        <div class="mt-3 overflow-y-scroll">
            <a
                routerLink="/table"
                class="flex pl-4 h-[32px] hover:text-white items-center text-white hover:bg-[#3588b9] cursor-pointer"
            >
                <span nz-icon nzType="appstore" class="mr-2" nzTheme="outline"></span> Bảng
            </a>

            <div
                class="flex pl-4 pr-3 h-[32px] hover:text-white items-center text-white hover:bg-[#3588b9] cursor-pointer"
            >
                <span nz-icon nzType="usergroup-add" class="mr-2" nzTheme="outline"></span> Thành viên
                <span nz-icon nzType="plus" class="ml-auto mx-1.5 text-[14px]" nzTheme="outline"></span>
            </div>

            <div
                class="flex pl-4 pr-3 h-[32px] hover:text-white items-center text-white hover:bg-[#3588b9] cursor-pointer"
            >
                <span nz-icon nzType="setting" class="mr-2" nzTheme="outline"></span> Cài đặt không gian làm việc
                <span nz-icon nzType="right" class="ml-auto mx-1.5 text-[14px]" nzTheme="outline"></span>
            </div>

            <!-- table list  -->
            <h1 class="flex items-center pl-4 pr-3 mt-1.5 py-1 h-full">
                <p class="text-white font-bold">Các bảng của bạn</p>
                <span
                    (click)="showModalCreateTable()"
                    nz-icon
                    nzType="plus"
                    class="text-white ml-auto mx-1.5 text-[14px] cursor-pointer"
                    nzTheme="outline"
                ></span>
            </h1>
            <div class="">
                <a
                    *ngFor="let item of tableData"
                    class="flex items-center pl-4 pr-3 h-[32px] hover:text-white hover:bg-[#3588b9] [&>span.active]:block tableWpItem"
                    routerLink="/workspace/{{ idWp }}/{{ item?.id }}"
                    routerLinkActive="bg-[#3588b9]"
                >
                    <img class="w-[32px] min-w[24px] h-[20px] rounded-[3px] mr-2" src="{{ item?.bg }}" alt="" />
                    <p class="truncate w-[180px] text-white">{{ item?.title }}</p>
                    <span
                        (click)="changeTickTable(item?.id)"
                        nz-icon
                        nzType="star"
                        class="ml-auto mr-1.5 text-white hidden"
                        [class.active]="tickTableList.includes(item?.id)"
                        nzTheme="fill"
                    ></span>
                </a>
            </div>
        </div>
    </div>
    <!-- right  -->
    <div class="right w-full h-full relative overflow-hidden">
        <div
            class="absolute borderCustom h-full w-[1px] shadow-container bg-primary top-0 left-0"
            [class.active]="!widthAside"
        ></div>
        <div
            *ngIf="!widthAside"
            class="absolute z-10 h-full min-w-[15px] w-[15px] top-0 left-0 bg-[rgba(255,255,255,0.16)]"
        >
            <div class="relative w-full h-full">
                <div class="absolute h-full z-2 w-[1px] shadow-container bg-primary top-0 right-0"></div>
                <button
                    (click)="actionAside(true)"
                    class="absolute top-[20px] right-[-12px] w-[24px] h-[24px] bg-buttonHover flex items-center justify-center rounded-[50%]"
                >
                    <span nz-icon nzType="right" class="text-white text-[12px]" nzTheme="outline"></span>
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
