<div class="flex items-start justify-center mt-10">
    <div class="w-[250px] flex flex-col">
        <a
            routerLink="/"
            routerLinkActive="text-primary hover:text-primary bg-[#e4f0f6] hover:bg-[#e4f0f6]"
            class="flex items-center font-bold p-2 hover:bg-[#e7e9ed] mb-1 rounded-[3px] cursor-pointer"
        >
            <span nz-icon nzType="radar-chart" class="mr-2" nzTheme="outline"></span> Trang chủ
        </a>
        <a
            routerLink="/table"
            routerLinkActive="text-primary hover:text-primary bg-[#e4f0f6] hover:bg-[#e4f0f6]"
            class="flex items-center font-bold p-2 hover:bg-[#e7e9ed] mb-1 rounded-[3px] cursor-pointer"
        >
            <span nz-icon nzType="appstore" class="mr-2" nzTheme="outline"></span> Bảng
        </a>

        <div class="h-[1px] w-full shadow-input"></div>

        <div class="home-workspace my-2">
            <h1 class="font-semibold text-subTitle text-[12px] flex items-center">
                Các không gian làm việc
                <span nz-icon nzType="plus" class="ml-auto text-[14px]" nzTheme="outline"></span>
            </h1>

            <div class="home-listWp">
                <div *ngFor="let item of dataWorkspace">
                    <app-workspaceItem [data]="item"></app-workspaceItem>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[825px] mx-4">
        <h1 class="text-[16px] mb-5 font-bold uppercase text-subTitle">Các không gian làm việc của bạn</h1>
        <header class="flex items-center">
            <img
                src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x319/1ae4e99da27ed4f7fbcb064985b0aeca/photo-1588075592405-d3d4f0846961.jpg"
                alt=""
                class="w-[32px] h-[32px] rounded-[3px] mr-1.5"
            />
            <h2 class="text-text font-bold text-[16px] truncate max-w-[231px] w-[231px]">
                Dự án quản lý trường Bột xuyên
            </h2>

            <a
                class="flex items-center text-[14px] py-1.5 px-3 rounded-[3px] bg-[#091e420a] ml-2 text-[#172b4d] hover:bg-hover"
            >
                <span nz-icon nzType="appstore" class="mr-2" nzTheme="outline"></span> Bảng
            </a>

            <a
                class="flex items-center text-[14px] py-1.5 px-3 rounded-[3px] bg-[#091e420a] ml-2 text-[#172b4d] hover:bg-hover"
            >
                <span nz-icon nzType="usergroup-add" class="mr-2" nzTheme="outline"></span> Thành viên
            </a>

            <a
                class="flex items-center text-[14px] py-1.5 px-3 rounded-[3px] bg-[#091e420a] ml-2 text-[#172b4d] hover:bg-hover"
            >
                <span nz-icon nzType="setting" class="mr-2" nzTheme="outline"></span> Cài đặt
            </a>
        </header>
    </div>
</div>
