@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
button {
    font-family: 'Roboto', sans-serif !important;
}

.ant-modal-body {
    padding: 0 !important;
}

a,
a:hover {
    color: #172b4d;
}
